@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fontLF: "Libre Franklin", serif;
    --fontLB: "Libre Bodoni", serif;
}
*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: #E2DADA;
    overflow-x: hidden;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul, ol{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1880px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn{
    box-shadow: 2px 5px 8px rgb(0, 0, 0, 0.5);
    text-shadow: 2px  2px 2px #453333;
}


.btn:hover {
    cursor: pointer;
}