.grettings {
}
.container {
}
.grettings__content {
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
}
.nav {
}
.nav__list {

}
.nav__item {
    color: ;

}
.grettings__main {
    display: flex;
    justify-content: center;
}
.grettings__title {

}
.btn {

}
.grettings__btn {
}