.lala {
    background: url(/img/lala/lala1.png) no-repeat center/cover;
    height: 800px;
    display: flex;
    align-items: center;
}
.lala__picture{
}
.lala__content {

 
}
.lala__title {
    font-family: var(--fontLB);
    color: rgb(255, 255, 255, 0.5);
    font-size: 128px;
    display: flex;
    justify-content: center;
}