.message {
}

.message__content {
    margin-top: 290px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.message__text {
    font-family: var(--fontLB);
    font-size: 64px;
    color: black;
}

.message__btn{
    padding: 30px 62px 22px 62px;
    border-radius: 10px;
    font-family: var(--fontLB);
    color: #634B4B;
    background-color: #B399A5;
    font-size: 48px;
    border: #5D4545;
    text-shadow: #2A2020;
    margin-top: 50px;
    margin-bottom: 200px;
}